/task_list.txt
/JSON_RPC/Source/echo_output.txt
/JSON_RPC/Source/iteration_statistic.txt

/.idea/
/JSON_RPC/Source/Displacements/
/JSON_RPC/Source/Failure/
/JSON_RPC/Source/Log/
/JSON_RPC/Source/Patran/
/JSON_RPC/Source/Stress/
/JSON_RPC/Source/StressRotated/
/BFF_FASTAPI/Source/Log/